[run]
source = pidoors
branch = True
omit =
    */tests/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
show_missing = True
precision = 2

[html]
directory = htmlcov
title = PiDoors Test Coverage Report
